<div class="item-summary">
  {{#if identified}}
    {{{description.value}}}
        {{#if description.chat}}
        <hr>{{{description.chat}}}
        {{/if}}
  {{else}}
    {{{description.unidentified}}}
      {{#if description.chat}}
        <hr>{{{description.chat}}}
        {{/if}}
  {{/if}}

  <div class="item-properties">
    {{#each properties}}<span class="tag">{{this}}</span>{{/each}}
  </div>
</div>
