<div class="item-summary">
  {{#if identified}}
    {{{description.value}}}<hr>{{{description.chat}}}
  {{else}}
    {{{description.unidentified}}}<hr>{{{description.chat}}}
  {{/if}}

  <div class="item-properties">
    {{#each properties}}<span class="tag">{{this}}</span>{{/each}}
  </div>
</div>
